.aqua {
	height: 250px;
	background-color: #CCFFFF;
    border-radius: 10px; /* この行で角を丸くする */
}

.textarea {
    position: relative;
    width: 300px;      /* 幅 */
    height: 50px;      /* 高さ */
    font-size: 16px;   /* 文字サイズ */
    padding: 5px;      /* 内側余白 */
    resize: none;       /* サイズ変更禁止 */
    
}

.selectbox {
    width: 310px;      /* 幅 */
}

.botton {
    position: fixed;
    top: 125px;
    left: 323px;
    height: 3em; /* 高さを3文字分 */
}

.border {
width: 400px;
display: inline-block;   /* 中身に合わせて幅が決まる */
border: 2px solid gray;
border-radius: 10px; /* この行で角を丸くする */
padding: 5px 20px 10px 30px;
}