.aqua {
	height: 250px;
	background-color: #CCFFFF;
    border-radius: 10px; /* この行で角を丸くする */
}

.textarea {
    position: relative;
    width: 300px;      /* 幅 */
    height: 50px;      /* 高さ */
    font-size: 16px;   /* 文字サイズ */
    padding: 5px;      /* 内側余白 */
    resize: none;       /* サイズ変更禁止 */
    
}

.login_textarea {
    width: 300px;      /* 幅 */
    height: 15px;      /* 高さ */
    font-size: 14px;   /* 文字サイズ */
    padding: 5px;      /* 内側余白 */
    resize: none;       /* サイズ変更禁止 */
    
}

.selectbox {
    width: 310px;      /* 幅 */
}

.button {
    position: fixed;
    top: 125px;
    left: 323px;
    height: 3em; /* 高さを3文字分 */
}

.button2 {
    position: fixed;
    top: 125px;
    left: 375px;
    height: 3em; /* 高さを3文字分 */
}

.button3 {
    position: fixed;
    top: 40px;
    right: 75px;
}

.button4 {
    position: fixed;
    top: 243px;
    left: 10px;
}

.border {
max-width: 800px;
display: inline-block;   /* 中身に合わせて幅が決まる */
border: 2px solid gray;
border-radius: 10px; /* この行で角を丸くする */
padding: 5px 20px 10px 30px;
}

.container {
  display: flex; /* これだけで横並びに! */
}

.space-bottom {
  margin-bottom: 10px;
}

.space-right {
  margin-right: 347px; /* 右側の余白 */
}

.space-right2 {
  margin-right: 100px; /* 右側の余白 */
}

.space-left {
  margin-left: 240px; /* 右側の余白 */
}