<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>簡単メモ帳</title>
</head>
<body>
    <div class="aqua">
    <h1>簡単メモ帳</h1>
    <div class="space-bottom"></div>
    <b><span class="space-right">メモを追加する</span>メモを更新する</b>
    <div class="container">
    <form action="/add" method="POST">
        <textarea name="addnote" class="textarea"></textarea>
        <button type="submit" class="botton">追加</button>
    </form>
    </div>
    <div class="space-bottom"></div>
    <b>メモを削除する</b>
    <form action="/del" method="POST">
        <select name="delnote" class="selectbox">
        {% for user in users %}
        <option>{{ user.id }}:&nbsp;{{ user.name }}</option>
        {% endfor %}
        </select>
        <button type="submit">削除</button>
    </form>
    </div>
    <p><b>メモ一覧</b></p>
    {% if notecount > 0 %}
    <div class="border">
    {% for user in users: %}
    <li>{{ user.name }}</li>
    {% endfor %}
    {% endif %}
    </div>
</body>
</html>