<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>簡単メモ帳</title>
</head>
<body>
    <div class="aqua">
    <h1>簡単メモ帳</h1>
    <div class="space-bottom"></div>
    <b><span class="space-right">追加する</span>更新する</b>
    <div class="container">
    <form action="/add" method="POST">
        <textarea name="addnote" class="textarea"></textarea>
        <button type="submit" class="button">追加</button>
    </form>

    <div class="space-right2"></div>
    <form action="/update" method="POST">
        <select name="upnote" class="selectbox">
        {% for note in notes %}
        <option value="{{ note.noteid }}">{{ note.note }}</option>
        {% endfor %}
        </select>
        <button type="submit">更新</button>
    </form>
    </div>

    <div class="space-bottom"></div>
    <b>削除する</b>
    <form action="/del" method="POST">
        <select name="delid" class="selectbox">
        {% for note in notes %}
        <option value="{{ note.noteid }}">{{ note.note }}</option>
        {% endfor %}
        </select>
        <button type="submit">削除</button>
    </form>
    </div>

    <p><b>一覧</b></p>
    {% if notecount > 0 %}
    <div class="border">
    {% for note in notes: %}
    <li>{{ note.note }}</li>
    {% endfor %}
    {% else %}
    <p>メモはありません</p>
    {% endif %}
    </div>
</body>
</html>