<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>メモの更新</title>
</head>
<body>
    <div class="aqua">
    <h1>メモの更新</h1>

    <b>更新する</b>
    <div class="container">
    <form action="/update_comp" method="POST">
        <input type="hidden" name="upid" value="{{ notes.noteid }}">
        <textarea name="upnote" class="textarea" required>{{ notes.note }}</textarea>
        <button type="submit" class="button">更新</button>
    </form>
     <form action="/" method="POST">
        <button type="submit" class="button2">戻る</button>
    </form>
    </div>
</body>
</html>